<div class="row">
  <div class="col-xs-12">
    <img [src]="dataItem.imagePath  " alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{ dataItem.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown">
        Manage lang
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#"></a>To lang list</li>
        <li class="dropdown-item"><a href="#"></a>Edit Lang description</li>
        <li class="dropdown-item"><a href="#"></a>Delete lang</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{dataItem.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs 12">
    <ul class="list-group">
      <a
        href="#"
        class="list-group-item"
        style="cursor: pointer;"
        *ngFor="let lang of dataItem.languages"
      >
      {{ lang.name }} ({{ lang.countOfFeatures }})
      </a>
    </ul>
  </div>
</div>
