<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Lang name</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage lang
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"></a>To lang list</li>
        <li><a href="#"></a>Edit Lang description</li>
        <li><a href="#"></a>Delete lang</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs 12">
    Features
  </div>
</div>
